@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.hero-blog-page {
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/blog-banner.webp") center / cover;
    width: 100%;
    height: clamp(200px, 35vw, 464px);
    display: flex;
    justify-content: center; /* Horizontally centers */
    align-items: center; 
}