@use "../abstracts/mixins" as *;

/* CONTENT BANNER */

.hero-content,
.hero-shop,
.hero-blog,
.hero-about {
  display: grid;
  height: 464px;
  padding: 20px 20px;
  .text {
    display: grid;
    margin: auto;
    h1 {
      @include h1-style;
    }
    .description {
      @include banner-p-style;
    }
  }
}

.hero-content {
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/hero-content-banner.webp") center / cover;
}

.hero-blog {
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/blog-banner.webp") center / cover;
  text-align: right;
}

.hero-shop {
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/shop-banner.webp") center / cover;
  margin-bottom: 2rem;
}

.hero-about {
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/about-banner.webp") center / cover;
  text-align: right;
  margin-bottom: 2rem;
}

/* MEDIA QUERY 800px */

@media (min-width: 800px) {
  .hero-content,
  .hero-shop,
  .hero-blog,
  .hero-about {
    .text {
      width: 100%;
      h1 {
        max-width: 500px;
      }
      .description {
        max-width: 500px;
      }
    }
  }

  .hero-content,
  .hero-shop {
    .text {
      justify-content: left;
      h1,
      .description,
      .btn {
        margin-right: auto;
      }
    }
  }

  .hero-blog,
  .hero-about {
    .text {
      justify-content: right;
      h1,
      .description,
      .btn {
        margin-left: auto;
      }
    }
  }
}

/* MEDIA QUERY 1280px*/

@media (min-width: 1280px) {
  .hero-content,
  .hero-shop,
  .hero-blog,
  .hero-about {
    padding: 20px 40px 20px 40px;
  }
  .hero-content,
  .hero-shop,
  .hero-blog,
  .hero-about {
    .text {
      margin: auto;
      h1 {
        max-width: 1000px;
        line-height: 1.2;
      }
      .description {
        max-width: 1000px;
      }
    }
  }
}
