@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// Carousel Cards
.card {
  white-space: normal;
  background-color: #fff;
  margin: 1rem 1rem 1rem 0rem;
  text-align: left;
  width: 230px;
  height: 233px;
}

.card img {
  width: 230px;
  height: 130px;
}

//Content Cards
.content-card {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0rem auto 2rem;
    text-align: left;
    align-content: start;
    max-width: 350px;
    img {
        width: 100%;
        max-width: 350px;
        height: auto;
        aspect-ratio: 350 / 250;
        object-fit: cover;
        border-radius: 20px;
    }
  
    p {
        @include p-style;
        font-size: clamp(12px, 5vw, 18px);
    }
}

.image-wrapper {
    position: relative;
}

// SubContent Cards
.card-thumbnail {
    display: grid;
    grid-template-columns: 1fr;
    width: 230px;
    height: 130px;
    margin: 0rem auto;

    h3 {
        @include h3-style;
        font-size: clamp(16px, 5vw, 24px);
    }
}