/* Carousel */
.carousel {
  padding: 0 20px 20px 20px;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-color: var(--accent) #e2e2e2;
}

.scrolling-wrapper > .card {
  flex: 0 0 230px;
}

/* MEDIA QUERY */

@media (min-width: 1280px) {
  .carousel {
    margin: auto;
    padding: 20px 40px 20px 40px;
  }
  .scrolling-wrapper {
    max-width: 1280px;
    margin: auto;
  }

  .carousel h2 {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
