blockquote, 
.wp-block-quote {
    margin: 30px auto;
    padding: 16px 24px;
    color: #374151;
}

.wp-block-quote p {
    font-style: italic;
    font-size: 1.75rem;
    border-left: 4px solid #f59e0b; // A nice amber line matching your stars
    margin: 0 auto;
    line-height: 1.5;
    padding: 0rem 1rem;
}