// COLOR VARIABLES
$charcoal-gray: #333333;
$light-gray: #d3d3d3;
$smoke-blue: #b4bccb;
$pampas: #ece6de;
$bg-white: #fcfcfc;

// FONT VARIABLES
$red-hat: "Red Hat Display", sans-serif;
$red-hat-bold: "Red Hat Display", bold, sans-serif;
$h1-size-desktop: 90px;
$h1-size: 45px;
$h2-size: 36px;
$h3-size: 27px;
$h4-size: 22.5px;
$p-size: 18px;
$button-size-desktop: 24px;
$button-size-mobile: 22.5px;
